## Assignment 1 functions

#### Index function ()
#### This is used to show or select an element. It shows the position of an element.
#### Assignment starts from 0 onwards

In [6]:
# index
names = ['John', 'Kevin', 'James', 'Grace', 'Mary']
names[3]

'Grace'

In [7]:
names[1]

'Kevin'

#### Pop function ()
#### Used to remove and return the last or selected element

In [2]:
# removes and returns the last element
names = ['John', 'Kevin', 'James', 'Grace', 'Mary']
print(names.pop())
print(names)

Mary
['John', 'Kevin', 'James', 'Grace']

In [11]:
# takes index of the selected element and returns it
print(names.pop(1))
print(names)

James
['John', 'Grace']

#### Remove function()
#### Used to remove selected element and returns the new array 
#### without the removed element

In [19]:
names = ['John', 'Kevin', 'James', 'Grace', 'Mary']
names.remove('James')
names

['John', 'Kevin', 'Grace', 'Mary']

#### Sort function()
#### Used to sort array elements in the correct order

In [21]:
numbers = [5, 7, 3, 2, 6]
numbers.sort()
numbers

[2, 3, 5, 6, 7]

In [23]:
names = ['John', 'Kevin', 'James', 'Grace', 'Mary']
names.sort()
names

['Grace', 'James', 'John', 'Kevin', 'Mary']

#### Reverse function()
#### Used to reverse elements of an array or list

In [25]:
numbers = [5, 7, 3, 2, 6]
numbers.reverse()
numbers

[6, 2, 3, 7, 5]

In [26]:
names = ['John', 'Kevin', 'James', 'Grace', 'Mary']
names.reverse()
names

['Mary', 'Grace', 'James', 'Kevin', 'John']

## Assignment 2

### 1.Membership operators
#### They are used to test whether a value or 
#### variable is found in a sequence.
#### in and not in are the membership operators in Python

In [28]:
x = "Rufus Kairu"
print('Rufus' in x)
print('rufus' in x)
print('kairu' not in x)

True
False
True

### 2. Identity operators
#### Used to check if two values/variables are located
#### on the same part of the memory.
#### is and is not are the identity operators

In [29]:
x1 = 5
y1 = 5

x2 = 'hello'
y2 = 'hello'

print(x1 is y1)
print(x1 is not y1)
print(x2 is y2)

True
False
True

### 3. Bitwise operators
#### They act on operands as if they were string of binary digits
#### They operate bit by bit, hence the name bitwise

In [32]:
x = 10
y = 4

# Bitwise AND
print(x & y)

# Bitwise OR
print(x | y)

0
14